#pokedex {
    display: grid;
    padding: 35px;
    padding-top: 5px;
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 40px;
}    


.active-card {
    display: none;
}

.poke-card {
    border-radius: 10px;
    position: relative;
    transition: all 300ms;
    transition-delay: 100ms;
}
@media only screen and (min-width: 800px) {
    .poke-card:hover {
        box-shadow: 0 0 8px 3px gray;
        animation: pulse 300ms;
        cursor: pointer;
    }
}
.poke-card .background {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: .8;
    z-index: -1;

}

.poke-card .name {
    font-size: 1.7em;
    width: 83%;
    padding-top: 1%;
    padding-left: 3%;
    text-shadow: 1px 1px 2px darkslategray;
}

.poke-card .info-bottom-left, 
.poke-card .info-bottom-middle, 
.poke-card .info-bottom-right {
    margin: 1%;
    padding: 3%;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: .9em;
    font-stretch: condensed;
    opacity: 0.7;
}
.poke-card .info-bottom-left {
    left: 0;
}
.poke-card .info-bottom-middle {
    left: 35%;
    width: 30%;
    color: white;
    margin: 1%;
    padding: 2%;
    border-radius: 6px;
    background-color: darkslategray;
    font-size: .7em;
    cursor: pointer;
    transition: all 350ms;
}
.active-card:checked + label .info-bottom-middle {
    bottom: 50%;
    width: 98%;
    left: 0;
    opacity: 0;
}
.poke-card .info-bottom-right {
    right: 0;
}

.poke-card .hud-details {
    display: none;
    list-style: none;
    cursor: pointer;
}
.active-card:checked + label .hud-details {
    display: block;
    color: white;
    margin: 1%;
    padding: 2%;
    border-radius: 6px;
    background-color: darkslategray;
    position: absolute;
    top: 10%;
    width: 98%;
    text-align: left;
    font-family: 'Press Start 2P';
    font-size: 0.7em;
    font-stretch: condensed;
    line-height: 1.4em;
    opacity: 0.85;
    z-index: 1;
    animation: puffIn 350ms;
    animation-timing-function: ease-in;
}
.hud-details .smaller-line-height {
    line-height: 0.7em;
}

.poke-card .badge-bottom-right,
.poke-card .badge-bottom-left {
    height: 13%;
    position: absolute;
    bottom: 1%;
    border-radius: 100%;
}
.poke-card .badge-bottom-right{
    right: 1%;
}
.poke-card .badge-bottom-left {
    left: 1%;
}

.poke-card .info-top-left, 
.poke-card .info-top-right {
    color: white;
    margin: 1%;
    padding: 2%;
    border-radius: 6px;
    background-color: darkslategray;
    position: absolute;
    top: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: .7em;
    font-stretch: condensed;
    opacity: 0.9;
    transition: all 300ms;
}
.poke-card .info-top-left {
    left: 0;
}
.poke-card .info-top-right {
    right: 0;
}
.active-card:checked + label .info-top-left, 
.active-card:checked + label .info-top-right {
    top: 10%;
    left: 50%;
    right: 50%;
    opacity: 0;
}

.poke-card .badge-top-right {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.poke-card .badge-top-right:hover {
    cursor: pointer;
}

.poke-card .pokemon {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    object-fit: contain;
}
@media only screen and (min-width: 800px) {
    .poke-card .pokemon {
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .poke-card:nth-child(5n+1) .pokemon {
        animation: spaceInLeft;
        animation-duration: 600ms;
    }
    .poke-card:nth-child(5n+2) .pokemon {
        animation: swap;
        animation-duration: 800ms;
    }
    .poke-card:nth-child(5n+3) .pokemon {
        animation: spaceInDown;
        animation-duration: 800ms;
    }
    .poke-card:nth-child(5n+4) .pokemon {
        animation: swashIn;
        animation-duration: 700ms;
    }
    .poke-card:nth-child(5n+5) .pokemon {
        animation: foolishIn;
        animation-duration: 1000ms;
    }
}

.hidden {
    display: none;
}