#arrange {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    padding-right: 10px;
}
#sort-order {
    margin-right: 10px;
}
#sort-order + label {
    background-color: white;
}