@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Oswald:500|Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
}

label, p, select, span, ::after {
    font-family: 'Oswald', sans-serif;
}
